@model List<Common.DTO.DtoProducto>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aliyava Clientes</h1>

</div>

<div class="row">
    <div >
        <h2>Productos</h2>
    </div>
    
    <div >
        <div class="row" style="height:auto; background-color: rgba(255,0,0,0.1);">
            <div class="container">
                @foreach (Common.DTO.DtoProducto item in Model)
                {
                <div class="panel panel-default " style="width: 250px; height: 250px; float:left;margin:10px; background-color: rgba(0,0,255,.1)">
                    <div class="panel-heading">@Html.DisplayFor(modelItem => item.Descripcion)</div>
                    <div class="panel-body">
                        <img class="img-responsive" src="https://previews.123rf.com/images/koya79/koya791709/koya79170900152/89097333-servicio-de-inform%C3%A1tica-computadora-port%C3%A1til-con-engranajes-de-representaci%C3%B3n-3d.jpg">

                    </div>
                    <div class="panel-footer">
                        <p>@Html.DisplayFor(modelItem => item.PrecioVenta)</p>
                        <p>@Html.ActionLink("Agregar al carrito", "ListarCarrito", "Pedido", new { @class = "btn btn-primary" })</p>
                        @Html.ActionLink("Ver", "ProductoInfo", "Producto", new { @class = "btn btn-info" })
                    </div>

                 
                </div>
                }

            </div>
        </div>
    </div>

</div>
