@model List<Common.DTO.DtoDetallePedido>

@{
    ViewBag.Title = "DetallePedidosCli";
}

<h2>Detalle pedidos</h2>

<p>
    @Html.ActionLink("Volver", "ListadoPedidosCli", "Pedido", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cantidad a preparar
            </th>

            <th>
                Precio unitario
            </th>

            <th>
                Código del producto
            </th>
         
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadPreparar)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PrecioU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idProducto)
                </td>
             
            </tr>
        }
    </tbody>

</table>
