
@{
    ViewBag.Title = "MapaTermico";
}

<h2>Mapa térmico</h2>
@*//GOOGLE MAPS*@


<style>
    /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
    #map {
        height: 500px;
        width: 1150px;
        float: left;
        position: absolute;
        margin-left: 0px;
        margin-top: 15px;
    }
</style>

<div id="map"></div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*API*@
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8BB5_96zmhDpNryv9En4TbunSeXDnHMg&callback=initMap&libraries=visualization"></script>

    <script>

        var map, heatmap;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 13,
                center: { lat: -3490433244569376, lng: -5496554247741736 },
                mapTypeId: "satellite"
            });

            heatmap = new google.maps.visualization.HeatmapLayer({
                data: getPoints(),
                map: map
            });
        }

        function toggleHeatmap() {
            heatmap.setMap(heatmap.getMap() ? null : map);
        }

        function changeGradient() {
            var gradient = [
                "rgba(0, 255, 255, 0)",
                "rgba(0, 255, 255, 1)",
                "rgba(0, 191, 255, 1)",
                "rgba(0, 127, 255, 1)",
                "rgba(0, 63, 255, 1)",
                "rgba(0, 0, 255, 1)",
                "rgba(0, 0, 223, 1)",
                "rgba(0, 0, 191, 1)",
                "rgba(0, 0, 159, 1)",
                "rgba(0, 0, 127, 1)",
                "rgba(63, 0, 91, 1)",
                "rgba(127, 0, 63, 1)",
                "rgba(191, 0, 31, 1)",
                "rgba(255, 0, 0, 1)"
            ];
            heatmap.set("gradient", heatmap.get("gradient") ? null : gradient);
        }

        function changeRadius() {
            heatmap.set("radius", heatmap.get("radius") ? null : 20);
        }

        function changeOpacity() {
            heatmap.set("opacity", heatmap.get("opacity") ? null : 0.2);
        }

        // Heatmap data: 500 Points
        function getPoints() {

            var myJsVariable = @ViewBag.ColLat;
            var myJsVariable2 = @ViewBag.ColLng;

            for (var lat in myJsVariable)
            {
                for (var lng in myJsVariable2)
                {
                     new google.maps.LatLng(lat, lng),
                     new google.maps.LatLng(lat, lng),
                     new google.maps.LatLng(lat, lng),
                     new google.maps.LatLng(lat, lng),
                     new google.maps.LatLng(lat, lng),
                     new google.maps.LatLng(lat, lng),
                }
            }

            return [

                new google.maps.LatLng(lat, lng),
                new google.maps.LatLng(lat, lng),
                new google.maps.LatLng(lat, lng),
                new google.maps.LatLng(lat, lng),
                new google.maps.LatLng(lat, lng),
                new google.maps.LatLng(lat, lng),


            ];
        }











    </script>





}