@model List<Common.DTO.DtoReporteMasVendido>

@{
    ViewBag.Title = "ReporteProMasVendido";
}

    <h2>Reporte productos más vendidos</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Código de producto
            </th>
            <th>
                Cantidad
            </th>

        </tr>
    </thead>

    <tbody>

        @foreach (Common.DTO.DtoReporteMasVendido item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
            </tr>
        }
    </tbody>

</table>
