
@{
    ViewBag.Title = "Reportes";
}

<h2>Reportes</h2>

<div class="card">
    <div id="card" class="panel panel-default " style="width: 250px; height: 250px; float:left;margin-left:10px; margin-bottom:50px; margin-right:15px;margin-top:15px; background-color: rgba(0,0,255,.1)">

        <div id="portada" class="card-title">Primer Reporte</div>

        <div class="panel-body" style="width: 200px; height: 200px;">
            <p>Este primer reporte muestra un listado de los producto mas vendidos</p>
            <p>Para acceder al lista de click en el boton que se encuentra debajo</p>
        </div>
        <div class="panel-footer">

            @Html.ActionLink("Ir al reporte", "ReporteProMasVendido", "Reporte", new { @class = "btn btn-primary" })
        </div>


    </div>
</div>

<div class="card">
    <div id="card" class="panel panel-default " style="width: 250px; height: 250px; float:left;margin-left:10px; margin-bottom:50px; margin-right:15px;margin-top:15px; background-color: rgba(0,0,255,.1)">

        <div id="portada" class="card-title">Segundo Reporte</div>

        <div class="panel-body" style="width: 200px; height: 200px;">
            <p>Este Reporte nos muestra un listado de cantidad de pedidos y el volumen que se entrego en el dia</p>
            <p>Para acceder al lista de click en el boton que se encuentra debajo</p>
        </div>
        <div class="panel-footer">

            @Html.ActionLink("Ir al reporte", "ReportePromedioEntrega", "Reporte", new { @class = "btn btn-primary" })
        </div>


    </div>
</div>




<div class="card">
    <div id="card" class="panel panel-default " style="width: 250px; height: 250px; float:left;margin-left:10px; margin-bottom:50px; margin-right:15px;margin-top:15px; background-color: rgba(0,0,255,.1)">

        <div id="portada" class="card-title">Segundo Reporte</div>

        <div class="panel-body" style="width: 200px; height: 200px;">
            <p>Este Reporte nos muestra un listado de cantidad de pedidos y el volumen que se entrego en el dia</p>
            <p>Para acceder al lista de click en el boton que se encuentra debajo</p>
        </div>
        <div class="panel-footer">

            @Html.ActionLink("Ir al reporte", "ReporteVolumenPedidodia", "Reporte", new { @class = "btn btn-primary" })
        </div>


    </div>
</div>