
@{
    ViewBag.Title = "MsgModificar";
}


@Html.AntiForgeryToken()
    <div class="text-center form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">

            @if (ViewBag.Message != null)
            {
                <h3>@Html.Label("", (string)ViewBag.Message, new { @class = "label label-primary" })</h3>
            }
            <br />
            @Html.ActionLink("Todos los productos", "ListarProducto", "Producto", new { @class = "btn btn-info" })

        </div>
    </div>